
.profile__edit-button {
  padding: 0;
  margin-top: 37px;
  background-image: url(../../../images/profile-edit.svg);
  background-color: #000;
  border: 1px solid #FFF;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-position: center;
  transition: .3s;
}
.profile__edit-button:hover {
  opacity: .6;
}
@media screen and (max-width: 690px) {
  .profile__edit-button {
    margin-left: 10px;
    margin-top: 34px;
    width: 18px;
    height: 18px;
  }
}
