/* normalize---------------------------------------------------------------------------------*/
@import url(./vendor/normalize.css);
/* fonts-------------------------------------------------------------------------------------*/
@import url(./vendor/fonts/fonts.css);
/* nam---------------------------------------------------------------------------------------*/
@import url(./blocks/nam/nam.css);
/* root--------------------------------------------------------------------------------------*/
@import url(./blocks/root/root.css);
/* header------------------------------------------------------------------------------------*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__login-info/header__login-info.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__user-info/header__user-info.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/_menu-opened/header_menu-opened.css);
@import url(./blocks/header/__login-info/_menu-opened/header__login-info_menu-opened.css);
@import url(./blocks/header/__link/_menu-opened/header__link_menu_opened.css);
@import url(./blocks/header/__user-info/_menu-opened/header__user-info_menu-opened.css);
/* main--------------------------------------------------------------------------------------*/
@import url(./blocks/main/main.css);
/* profile-----------------------------------------------------------------------------------*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__filter/profile__filter.css);
@import url(./blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/* elements----------------------------------------------------------------------------------*/
@import url(./blocks/elements/elements.css);
/* grid-card---------------------------------------------------------------------------------*/
@import url(./blocks/grid-card/grid-card.css);
@import url(./blocks/grid-card/__image/grid-card__image.css);
@import url(./blocks/grid-card/__description/grid-card__description.css);
@import url(./blocks/grid-card/__title/grid-card__title.css);
@import url(./blocks/grid-card/__like/grid-card__like.css);
@import url(./blocks/grid-card/__btn-delete/grid-card__btn-delete.css);
@import url(./blocks/grid-card/__like/_active/grid-card__like_active.css);
@import url(./blocks/grid-card/__likes-info/grid-card__likes-info.css);
@import url(./blocks/grid-card/__counter-likes/grid-card__counter-likes.css);
@import url(./blocks/grid-card/__btn-delete/_visibility/grid-card__btn-delete_visibility.css);
/* footer------------------------------------------------------------------------------------*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
/* popup-------------------------------------------------------------------------------------*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__box/popup__box.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/__title_fix/popup__title_fix.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__group/popup__group.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css);
@import url(./blocks/popup/_magnification/popup_magnification.css);
@import url(./blocks/popup/__magnification-box/popup__magnification-box.css);
@import url(./blocks/popup/__magnification-imag/popup__magnification-imag.css);
@import url(./blocks/popup/__magnification-title/__magnification-title.css);
@import url(./blocks/popup/__container/_purpose/popup__container_purpose_info-tooltip.css);
@import url(./blocks/popup/__info-tooltop-image/popup__info-tooltip-image.css);
@import url(./blocks/popup/__info-tooltip-text/popup__info-tooltip-text.css);
/* Auth-------------------------------------------------------------------------------------*/
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__header/auth__header.css);
@import url(./blocks/auth/__form-input/auth__form-input.css);
@import url(./blocks/auth/__form-button/auth__form-button.css);
/* Registration-------------------------------------------------------------------------------------*/
@import url(./blocks/registration/__text/registration__text.css);
@import url(./blocks/registration/__link/registration__link.css);
/* forma-------------------------------------------------------------------------------------*/
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__item-error/form__item-error.css);
@import url(./blocks/form/__item-error/_active/form__item-error_active.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_inactive/form__button_inactive.css);